@font-face {
    font-family: "perfectly_amicable_scratchy";
    src: url('../police/perfectly_amicable_scratchy.ttf') ;
}


h1{
    font-size: 10rem;
    text-align: center;
    color: white;
    font-family: perfectly_amicable_scratchy;
}

header{
    background-color: #343a40;
}


.btn-outline-success{
    border-color: white;
}

.btn-outline-success:hover{
    background-color: #c82333;
    border-color:  #c82333;

}

.carousel-inner {
    background-color: lightgrey;
}
.d-block{
   padding-left: 33.7%;
}
    


.carousel-item {
    width:100%;
    height:100%;
}
.header{
    background-color: #343a40;
}
.card-img-top{
    height: 100%;
}

#cards{
    background-color: lightgrey;
    height: auto;
}

#marge{
    height: 15px;
    background-color: #343a40;
}

.container-fluid h2{
    text-align: center;
    font-size: 80px;
    font-family: perfectly_amicable_scratchy;
    background-color:#343a40;
    color:white;
    margin: 0px;
    padding: 1%;
}

.page-footer {
    background-color: #343a40;
}
.font-weight-bold{
    color:white;
}

.list-unstyled{
    color:white;
}

.list-unstyled li a{
    color: white;
}

.footer-copyright{
    color:white;
}
.footer-copyright a{
    text-decoration: none;
    color: white;
}
.footer-copyright a:hover{
    
    color:#c82333;
}