h1{
    font-size: 8rem;
    text-align: center;
    color: white;
    font-family:  Brush Script MT, Brush Script Std, cursive;
}

#connexion{
    background-color: #343a40;
}

.btn-outline-success{
    border-color: white;
}

.btn-outline-success:hover{
    background-color: #c82333;
    border-color:  #c82333;

}